body {
    background: red;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
}

.picture {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.verse {
    margin-top: 3em;
    text-align: center;
    font-family: arial;
}

.refrain {
    margin-top: 3em;
    text-align: center;
    font-family: arial;
}

.verse {
    margin-top: 3em;
    text-align: center;
    font-family: arial;
}

footer {
    margin-top: 3em;
    text-align: center;
    font-family: arial;
}
